Dataset
ShotBoundaryDetection/TransNetV2/__pycache__
.DS_Store
VCA
src/TransNetV2/__pycache__/*
src/V3C1_200/*
src/00100_segments/00100_segment_119.mp4
src/results
Test_dataset
src/TransNetV2/__pycache__/*
.DS_Store
src/__pycache__/*
src/SBDresults
src/TransNetV2/__pycache__/transnet.cpython-311.pyc
src/SBDresults_with_fallback
src/videos_with_fallback